<form action="/api/booking" method="post">
  <div class="elem-group">
    <label for="name">Your Name</label>
    <input
      type="text"
      id="name"
      name="user"
      placeholder="John Doe"
      pattern="[A-Z\sa-z]{3,20}"
      required
    />
  </div>
  <hr />
  <div class="elem-group inlined">
    <label for="pets_id">Pets</label>
    <select name="pets_id" id="pets_name" class="pet-form">
      <option>Select Pet 1</option>
      {{#each pets}}
        <option
          name="pets_id"
          value="{{this.dataValues.id}}"
        >{{this.dataValues.dog_name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="elem-group inlined">
    <label for="checkin-date">Check-in Date</label>
    <input type="date" id="checkin-date" name="startDate" required />
  </div>
  <div class="elem-group inlined">
    <label for="checkout-date">Check-out Date</label>
    <input type="date" id="checkout-date" name="endDate" required />
  </div>
  <hr />
  <div class="elem-group">
    <label for="message">Anything Else?</label>
    <textarea
      id="message"
      name="user_message"
      placeholder="Tell us anything else that might be important."
    ></textarea>
  </div>
  <button type="submit">Book The Rooms</button>
</form>

<script src="/js/booking.js"></script>