<form>
  <div class="edit-post-form elem-group inlined">
    <label for="checkin-date">Check-in Date</label>
    <input type="date" id="checkin-date" name="startDate" required />
  </div>
  <div class="elem-group inlined">
    <label for="checkout-date">Check-out Date</label>
    <input type="date" id="checkout-date" name="endDate" required />
  </div>
  <hr />
  <button type="submit">Update Your Booking Dates</button>
  <button type="button" class="delete-post-btn">Delete Booking</button>
</form>

<script src="/js/edit-booking.js"></script>
<script src="/js/delete-booking.js"></script>