<article>
  <a href="/dashboard"> &larr; Back to Dashboard</a>
  <h2>
    Edit Pet
  </h2>
  <form class="edit-pet-form">
    <div>
      <input
        type="text"
        id="dog-name"
        name="dog-name"
        value="{{pet.dog_name}}"
      />
    </div>
    <div>
      <textarea name="gender-text">{{pet.gender}}</textarea>
    </div>
    <div>
      <textarea name="bio-text">{{pet.bio}}</textarea>
    </div>
    <button type="submit">Save Changes</button>
    <button type="button" class="delete-pet-btn">Delete Pet</button>
  </form>
</article>

<script src="/js/edit-pet.js"></script>
<script src="/js/delete-pet.js"></script>