:root {
  --primary-color: #36688d;
  --secondary-color: #f3cd05;
  --tertiary-color: #f49f05;
}

* {
  box-sizing: border-box;
}

body,
header {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #f6f5f0;
  background-image: url("../assets/DPH-Chelsea-Lobby.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--tertiary-color);
  line-height: 2;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #080800;
}

/* #welcome-container {
  background-color: #fff;
} */

a:hover {
  color: var(--secondary-color);
}

#title {
  color: var(--secondary-color);
}
#title:hover {
  color: #080800;
}

button {
  border: 0;
  padding: 1%;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #55565b;
  color: #f6f5f0;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #aa7845;
  color: #f6f5f0;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid rgb(255, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.logout-btn {
  font-family: sans-serif;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #080800;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: var(--secondary-color);
  border: none;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-pet-link,
.edit-booking-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.edit-pet-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid rgb(255, 0, 0);
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

.card {
  margin-bottom: 1em;
  margin-top: 1em;
}

.rows {
  display: flex;
  flex-direction: column;
}

div.elem-group {
  margin: 20px 0;
}

div.elem-group.inlined {
  width: 49%;
  display: inline-block;
  float: left;
  margin-left: 1%;
}

label {
  display: block;
  font-family: "Nanum Gothic";
  padding-bottom: 10px;
  font-size: 1.25em;
}

input,
select,
textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: "Nanum Gothic";
  width: 100%;
  padding: 10px;
}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px dotted #ccc;
}

button {
  height: 50px;
  background: var(--tertiary-color);
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: "Nanum Gothic";
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
  color: #080800;
}

@media screen and (max-width: 575px) {
  header {
    display: block;
    text-align: center;
  }

  h1,
  h2,
  p,
  a {
    text-align: center;
  }

  .btn {
    width: 100%;
  }
}
