:root {
  --primary-color: #36688D;
  --secondary-color: #f3cd05;
  --tertiary-color: #f49f05;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--tertiary-color);
  max-width: 100%;
}

h1 {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0;
  padding-bottom: 8px;
}

.about {
  height: 80vh;
}

.hero {
  background-image: url("../img/DPH-Chelsea-Lobby.jpg");
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
  display: block;
}

.btn {
  max-height: 200px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.login, .signup {
  height: 30px;
  width: 100px;
  margin: 0 10px;
  border-radius: 10px;
  background-color: var(--tertiary-color);
  color: white;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 10px;
}


/* USER PROFILE CSS */

 .profile{
   border-radius: 50%;
  width: auto;
  height: 150px; 
  float: left;
 }

 /* Use for user info and pet info table */
 
.user{
  float: right;
  border: 2px solid;
  width: auto;
}


@media screen and (max-width: 980px) {

  header{
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }


  footer {
    text-align: center;
    width: 100%;
  }
}